github_org: {{ ci_github_org }}
github_repo: {{ ci_github_repo }}
github_token: {{ ci_github_token }}
config_server_image: {{ ci_config_server_image }}
insecure_registries: {{ ci_insecure_registries }}
kubernetes_cluster_url: {{ ci_kubernetes_cluster_url }}
kubernetes_cluster_ca: {{ ci_kubernetes_cluster_ca }}
kubernetes_admin_cert: {{ ci_kubernetes_admin_cert }}
kubernetes_admin_key: {{ ci_kubernetes_admin_key }}
